---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Innovative tools to <strong>transform</strong> your workflow</h2>
			<p class="pb-0 text-lg">
				Rompus connects clinical and treatment data via secure FHIR APIs and a private local LLM, 
				turning scattered notes, plans, and labs into one complete patient profile.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="All your billing & clinical data in one place"
				subtitle="Pulls EMR, OIS, imaging, and labs into a unified mCODE profile for each patient—no more hunting across systems."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Organize & manage your authorizations"
				subtitle="Submit, track, and manage all prior authorizations in one simple platform."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Keep your team organzed with real time authorization status"
				subtitle="Real‑time status for authorizations, plan conformance, and documentation requests keeps clinical and billing teams aligned."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Manage your clinical pathways"
				subtitle="Build guideline‑concordant pathways. Check plan conformance. Auto‑assign tasks to Clinicians, Physicists, and Billing."
				image={feature04}
				link="/features"
			/>
			<Card
				title="Simplify your financial operations"
				subtitle="Streamline your billing process with our easy-to-use tool. Create, send, and track authorizations effortlessly."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
